.grid-container {
  display: grid;
  grid-gap: 30px;
}

#left {
  grid-row-start: 1;
  grid-row-end: 1; 
  width: 100%;
  text-align: center;
}

#center {
  grid-row-start: 1;
  grid-row-end: 1;
  width: 100%;
  text-align: center;
}

#right {
  grid-row-start: 1;
  grid-row-end: 1;
  width: 100%;
  text-align: center;
}

#playerimg {
  width: 130px;
  height: 130px;
}

#opponentimg {
  width: 130px;
  height: 130px;
}
